@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #1A202C;
    --color-secondary: #0179ED;
    --color-textColor: #13022F;
    --color-grayColor: #F8F8F8;
}

@import url("./main.css");